@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scroll-view {
    scroll-behavior: smooth;
    scroll-margin-top: 160px;
  }
}
@media all {
  .page-break {
    display: none;
  }
  .blood-date {
    display: none;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
  .table-blood {
    min-width: 100rem;
  }
  .blood-date {
    display: block;
  }
}

@font-face {
  font-family: "LINESeedSans";
  src: url("../stores/fonts/LINESeedSansTH_W_XBd.woff2") format("woff2"),
    url("../stores/fonts/LINESeedSansTH_W_XBd.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "LINESeedSans";
  src: url("../stores/fonts/LINESeedSansTH_W_Bd.woff2") format("woff2"),
    url("../stores/fonts/LINESeedSansTH_W_Bd.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "LINESeedSans";
  src: url("../stores/fonts/LINESeedSansTH_W_He.woff2") format("woff2"),
    url("../stores/fonts/LINESeedSansTH_W_He.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "LINESeedSans";
  src: url("../stores/fonts/LINESeedSansTH_W_Rg.woff2") format("woff2"),
    url("../stores/fonts/LINESeedSansTH_W_Rg.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "LINESeedSans";
  src: url("../stores/fonts/LINESeedSansTH_W_Th.woff2") format("woff2"),
    url("../stores/fonts/LINESeedSansTH_W_Th.woff") format("woff");
  font-weight: 100;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
#mainLayout {
  min-height: 100vh;
}
body {
  font-family: "LINESeedSans", sans-sarif;
  min-height: 100vh;
  box-sizing: border-box;
  /* margin: 0; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #fcfcfc !important;
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
